name: Trivy Scan
on:
 push:
 branches: [ main ]
jobs:
 scan:
 runs-on: ubuntu-latest
 steps:
 - name: Checkout Code
 uses: actions/checkout@v3

 - name: Install Trivy
 run: |
 sudo apt-get install wget -y
 wget https://github.com/aquasecurity/trivy/releases/latest/download/trivy_Linux-64bit.deb
 sudo dpkg -i trivy_Linux-64bit.deb
 - name: Build Docker Image
 run: docker build -t devsecops-scan .
 - name: Run Trivy Scan
 run: trivy image --exit-code 1 --severity HIGH,CRITICAL devsecops-scan
