name: Trivy Scan
on:
  push:
    branches: [ main ]

jobs:
  scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t devsecops-scan .

      - name: Run Trivy (action)
        uses: aquasecurity/trivy-action@v0.9.0
        with:
          image-ref: devsecops-scan
          format: table
          severity: HIGH,CRITICAL
          exit-code: 1
